                            <div class="accordion three-col maas-accordion" data-ng-if="data.results.show_filters">
                                <h3 class="accordion__title">Filter by</h3>
                                <div class="ng-hide accordion__tab" data-ng-show="1">
                                    <h4 class="accordion__tab-title maas-accordion-tab active">Start Date</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="date in data.start_dates"  data-ng-class="{ active: data.results.search.isFilterActive('start_date', date, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('start_date', date, true)">{$ date $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="1">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Finish Date</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="date in data.finish_dates"  data-ng-class="{ active: data.results.search.isFilterActive('finish_date', date, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('finish_date', date, true)">{$ date $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.openstackversion.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">OpenStack Release</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="opstackvers in data.metadata.openstackversion | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('openstackversion', opstackvers.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('openstackversion', opstackvers.name, true)">{$ opstackvers.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.environment.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Environment</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="env in data.metadata.environment | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('environment', env.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('environment', env.name, true)">{$ env.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.ubuntuversion.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Ubuntu Release</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="ubuvers in data.metadata.ubuntuversion | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('ubuntuversion', ubuvers.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('ubuntuversion', ubuvers.name, true)">{$ ubuvers.name $} ({$ ubuvers.number $})</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.compute.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Compute</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="compute in data.metadata.compute | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('compute', compute.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('compute', compute.name, true)">{$ compute.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.sdn.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Networking</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="sdn in data.metadata.sdn | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('sdn', sdn.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('sdn', sdn.name, true)">{$ sdn.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.blockstorage.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab" ng-class="active">Block Storage</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="blockstorage in data.metadata.blockstorage | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('blockstorage', blockstorage.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('blockstorage', blockstorage.name, true)">{$ blockstorage.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.imagestorage.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Image Storage</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="imagestorage in data.metadata.imagestorage | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('imagestorage', imagestorage.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('imagestorage', imagestorage.name, true)">{$ imagestorage.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.database.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Database</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="database in data.metadata.database | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('database', database.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('database', database.name, true)">{$ database.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.machine.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Machine</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="machine in data.metadata.machine | orderBy:['hostname']"  data-ng-class="{ active: data.results.search.isFilterActive('machine', machine.hostname, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('machine', machine.hostname, true)">{$ machine.hostname $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.productundertest.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Product</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="productundertest in data.metadata.productundertest | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('productundertest', productundertest.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('productundertest', productundertest.name, true)">{$ productundertest.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.failedjobs.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Failed Jobs</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="failedjobs in data.metadata.failedjobs | orderBy:['name']"  data-ng-class="{ active: data.results.search.isFilterActive('failedjobs', failedjobs.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.results.search.toggleFilter('failedjobs', failedjobs.name, true)">{$ data.jobtypeLookup[failedjobs.name].description $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="three-col" data-ng-if="data.reports.show_filters">
                                <div class="accordion maas-accordion">
                                    <div  data-ng-controller="overviewReportController">
                                        <h3 class="accordion__title">Filter by</h3>
                                        <div class="ng-hide accordion__tab" data-ng-show="1">
                                            <h4 class="accordion__tab-title maas-accordion-tab active">Date</h4>
                                            <div class="accordion__tab-content">
                                                <ul class="accordion__tab-list">
                                                    <li class="accordion__tab-item" data-ng-repeat="date in ['Last 24 Hours', 'Last 7 Days', 'Last 30 Days', 'Last Year', 'All Time']"  data-ng-class="{ active: data.reports.search.isFilterActive('date', date, true) }">
                                                        <a class="accordion__tab-link" href="" data-ng-click="data.reports.search.toggleFilter('date', date, true)">{$ date $}</a>
                                                    </li>
                                                    <li class="accordion__tab-item" data-ng-repeat="reportPeriod in data.reports.metadata.reportPeriods | orderBy:'-end_date'"  data-ng-class="{ active: data.reports.search.isFilterActive('date', reportPeriod.name, true) }">
                                                        <a class="accordion__tab-link" href="" data-ng-click="data.reports.search.toggleFilter('date', reportPeriod.name, true)">{$ reportPeriod.name $}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="ng-hide accordion__tab" data-ng-show="data.reports.metadata.environments.length">
                                            <h4 class="accordion__tab-title maas-accordion-tab">Environment</h4>
                                            <div class="accordion__tab-content">
                                                <ul class="accordion__tab-list">
                                                    <li class="accordion__tab-item" data-ng-repeat="env in data.reports.metadata.environments | orderBy:['name']"  data-ng-class="{ active: data.reports.search.isFilterActive('environment', env.name, false) }">
                                                        <a class="accordion__tab-link" href="" data-ng-click="data.reports.search.toggleFilter('environment', env.name, false)">{$ env.name $}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="ng-hide accordion__tab" data-ng-show="data.reports.metadata.reportGroups.length">
                                            <h4 class="accordion__tab-title maas-accordion-tab">Report</h4>
                                            <div class="accordion__tab-content">
                                                <ul class="accordion__tab-list">
                                                    <li class="accordion__tab-item" data-ng-repeat="reportGroup in data.reports.metadata.reportGroups | orderBy:['name']"  data-ng-class="{ active: data.reports.search.isFilterActive('report', reportGroup.name, true) }">
                                                        <a class="accordion__tab-link" href="" data-ng-click="data.reports.search.toggleFilter('report', reportGroup.name, true)">{$ reportGroup.name $}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion three-col maas-accordion" data-ng-if="data.qa.show_filters">
                                <h3 class="accordion__title">Filter by</h3>
                                <div class="ng-hide accordion__tab" data-ng-show="1">
                                    <h4 class="accordion__tab-title maas-accordion-tab active">Start Date</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="date in data.start_dates"  data-ng-class="{ active: data.qa.search.isFilterActive('start_date', date, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.qa.search.toggleFilter('start_date', date, true)">{$ date $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ng-hide accordion__tab" data-ng-show="data.metadata.environment.length">
                                    <h4 class="accordion__tab-title maas-accordion-tab">Environment</h4>
                                    <div class="accordion__tab-content">
                                        <ul class="accordion__tab-list">
                                            <li class="accordion__tab-item" data-ng-repeat="env in data.metadata.environment | orderBy:['name']"  data-ng-class="{ active: data.qa.search.isFilterActive('environment', env.name, true) }">
                                                <a class="accordion__tab-link" href="" data-ng-click="data.qa.search.toggleFilter('environment', env.name, true)">{$ env.name $}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
