<!DOCTYPE html>
<html class="no-js" lang="en" data-ng-app="weebl">
    <head>
        <base href="{% url 'index' %}">
        <title data-ng-bind="title + ' | ' + data.site"></title>
        <meta charset="utf-8"> <!-- Do not change charset please - utf-8 is important for d3.js -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
        <meta name="author" content="Canonical" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <![endif]-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
        {% include "css-conf.html" %}
        {% include "js-conf.html" %}
    </head>

    <body data-ng-init="data.site = 'OIL'; data.user = '{{ user.username }}'; data.apikey = '{{ user.api_key.key }}'">
        <div class="wrapper maas-wrapper">
            <header class="banner global fixed" role="banner">
                <nav role="navigation" class="nav-primary nav-right">
                    <div class="logo">
                        <a class="logo-ubuntu" href="{% url 'index' %}">
                        <img width="110" height"10" src="{{ STATIC_URL }}img/logos/logo.svg" alt="OIL" />
                        </a>
                    </div>
                    <div  data-ng-controller="successRateController as successRate">
                        <span class="page-header__title--identicator" id="bulk-actions">
                            <ul id="main-nav" class="nav">
                                <li>
                                    <a href="#/results" data-ng-class="{ active: data.currentsection === 'results' }" data-ng-click="data.highlightSection('results')">Results</a>
                                </li>
                                <li>
                                    <a href="#/reports" data-ng-class="{ active: data.currentsection === 'reports' }" data-ng-click="data.highlightSection('reports')">Reports</a>
                                </li>
                                <li>
                                    <a href="#/throughput" data-ng-class="{ active: data.currentsection === 'throughput' }" data-ng-click="data.highlightSection('throughput')">Throughput</a>
                                </li>
                            </ul>
                        </span>
                    </div>

                    <ul id="right-nav" class="nav">
                        <!-- User Menu -->
                        <li id="user-link">
                            {% if user.is_authenticated %}
                                <a href="">
                                    <img src="{{ STATIC_URL }}img/icons/user_dark.png" alt="" class="normal">
                                    <img src="{{ STATIC_URL }}img/icons/user_light.png" alt="" class="hover">
                                    {{ user.get_full_name }}
                                </a>
                                <ul class="nav" id="user-options">
                                    {% if user.is_staff %}
                                        <li>
                                            <a href="{{ site }}/admin/">Admin</a>
                                        </li>
                                        <li>
                                            <a href="{{ site }}/admin/oilserver/bug/add/">Add bug to DB</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href='{{ site }}/logout'>Log out</a>
                                    </li>
                                </ul>
                            {% else %}
                            <div data-ng-controller="locationController" >
                                <a href="{{ site }}{% url 'social:begin' 'ubuntu' %}?next={$ data.absURI $}">Log in</a>
                            </div>
                            {% endif %}

                        </li>

                    </ul>
                </nav>
                <div class="nav-toggles">
                    <a href="#canonlist" class="nav-toggle open"></a>
                    <a href="#" class="nav-toggle close"></a>
                </div>
            </header>
            <main id="body">
                <div data-ng-controller="successRateController as successRate">
                    <header class="page-header margin-bottom" data-maas-sticky-header>
                        <div class="inner-wrapper">
                            <h1 class="page-header__title">
                                <span class="page-header__title--identicator" id="bulk-actions">
                                    {% include 'page-picker.html' %}
                                </span>
                            </h1>
                        </div>
                    </header>

                    <div class="inner-wrapper">

                        <!-- accordion -->
                        {% if user.is_authenticated %}
                        {% include 'accordion.html' %}
                        {% endif %}

                        <!-- main content -->
                        <div id="main-content" data-maas-error-overlay>
                            {% if not user.is_authenticated %}
                                <div id="content" class="nine-col last-col" data-ng-controller="locationController">
                                    <p>Please <a href="{{ site }}{% url 'social:begin' 'ubuntu' %}?next={$ data.absURI $}">log in</a> to see data.</p>
                                </div>
                            {% else %}
                                <!------------------------------------------------>
                                {% include 'search-bar.html' %}
                                <!------------------------------------------------>
                                <div data-ng-view></div>
                                <!------------------------------------------------>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>

            <div class="footer-wrapper" data-maas-error-toggle>
                <footer class="global inner-wrapper clearfix">
                    <div class="legal clearfix">
                        <div class="legal-inner">
                            <p class="twelve-col copy">&copy; 2015 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
