<!doctype html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Canonical webteam" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>OIL Report</title>
        {% include "css-conf.html" %}
        {% include "js-conf.html" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/report-print-overrides.css" />
    </head>

    <body>
        <header class="report global" role="banner">
            <nav role="navigation" class="nav-primary nav-right" id="nav">
                <h3>Ubuntu OpenStack Interoperability Lab</h3>
                <div class="logo">
                    <a href="/">
                        <img src='static/img/reports/ubuntu.svg' />
                    </a>
                </div>
            </nav>
        </header>
        <div id="main-content" data-maas-error-overlay>
            {{ content|safe }}
        </div>
        <footer class="report">
            <div class="inner-wrapper">
                <p>Learn more about Canonical's OpenStack distribution and cloud tools like: Juju, MAAS and Landscape on&nbsp;<a href="http://ubuntu.com/cloud">ubuntu.com/cloud</a></p>
            </div>
        </footer>
    </body>
</html>
