                                <div id="content" class="nine-col last-col" data-ng-show="data.results.show_search">
                                    <div id="search-bar" class="search">
                                        <input
                                            type="search" placeholder="Search test runs" class="search__input"
                                            data-ng-model="data.results.search.search" data-ng-change="data.results.search.update()"
                                            data-ng-class="{ errors: !data.results.search.isValid }"/>
                                        <input type="submit" class="search__submit"
                                            data-ng-class="{ close: data.results.search.search.length > 0 }"
                                            data-ng-click="data.results.search.reset()" />
                                    </div>
                                </div>
