<div id="content" class="nine-col last-col">
    <p>{$ data.bugs.meta.total_count $} <ng-pluralize count="data.bugs.meta.total_count" when="{'0': 'matching bugs', '1': 'matching bug', 'other': 'matching bugs'}">.</p>
    <table class="table-listing">
        <thead>
            <tr class="table-listing__row">
                <th class="table-listing__header">
                    <a href="" class="table-listing__header-link sort-asc" data-ng-click="data.sortTable('bugtrackerbug.bug_number', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'bugtrackerbug.bug_number', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Number</a>
                </th>
                <th class="table-listing__header">Affected Products</th>
                <th class="table-listing__header">
                    <a href="" class="table-listing__header-link sort-asc" data-ng-click="data.sortTable('summary', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'summary', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Summary</a>
                </th>
                <th class="table-listing__header">
                    <a href="" class="table-listing__header-link sort-asc" data-ng-click="data.sortTable('occurrence_count', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'occurrence_count', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Occurrences</a>
                </th>
                <th class="table-listing__header">
                    <a href="" class="table-listing__header-link sort-asc" data-ng-click="data.sortTable('last_seen', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'last_seen', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Last Seen (UTC)</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-listing__row" data-ng-repeat="bug in data.bugs.objects | orderBy:data.tabs.bugs.predicate:data.tabs.bugs.reverse">
                <td class="table-listing__cell">
                    <a href="#/results/bug/{$ bug.bugtrackerbug.bug_number $}" title="{$ bug.bugtrackerbug.bug_number $}">
                        {$ bug.bugtrackerbug.bug_number $}
                    </a>
                </td>
                <td class="table-listing__cell">
                    <span data-ng-repeat="product in bug.bugtrackerbug.project.associated_products">{$ $first ? '' : $last ? ' and ' : ', ' $}{$ product $}</span>
                </td>
                <td class="table-listing__cell">{$ bug.summary $}</td>
                <td class="table-listing__cell">{$ bug.occurrence_count $}</td>
                <td class="table-listing__cell">{$ data.humaniseDate(bug.last_seen) $}</td>
            </tr>
        </tbody>
    </table>
</div>
