<div class="nine-col last-col">
    <div id="content-block" class="report breakable" data-ng-if="!data.reports.detailed.forceReportChoice">
        <div class="row no-border">
            <h1>{$ data.reports.detailed.reportGroup $} - {$ data.reports.detailed.reportPeriod $}</h1>
            <!-- <p>variable(products): {$ data.reports.detailed.products $}</p> (last to do)-->

            <div class="nobreak">
                <h5>{$ data.reports.detailed.reportGroup $} monthly explanation</h5>
                <div ng-bind-html="data.reports.detailed.vendorExplanation"></div>
            </div>
            <div class="nobreak">
                <h5>Overall monthly explanation</h5>
                <div ng-bind-html="data.reports.detailed.monthlyExplanation"></div>
            </div>
        </div>

        <div class="row no-border nobreak">
            <h5>Deployment History</h5>
            <nvd3 options="data.reports.detailed.historicalBarChart" data="data.reports.detailed.historicalPipelinesGraph"></nvd3>
            <center><p>(Total number of deploys per month)</p></center>
        </div>

        <div class="row no-border nobreak">
            <h5>Service Deployment</h5>
            <p>Over the past month your hardware has been deployed in {$ runs $} cloud instances across many different OpenStack services. Below is a breakdown of which services have been deployed to your hardware.</p>
            <nvd3 options="data.reports.detailed.serviceBarChart" data="data.reports.detailed.serviceDeploymentGraph"></nvd3>
        </div>
        <div class="row no-border">
            <table style="background: #fff;">
                <tbody style="background: #fff;">
                    <tr style="background: #fff;" data-ng-repeat="(producttypename, producttype) in data.reports.detailed.serviceDeploymentBreakdown">
                        <th style="background: #fff;">
                            <center class="nobreak">
                                <p>{$ producttypename $}</p>
                                <nvd3 options="data.reports.detailed.servicePieChart" data="data.reports.detailed.mungeServicePie(producttype)"></nvd3>
                            </center>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="row no-border">
            <div class="nobreak">
                <p>Overall the OpenStack deployment failures can be categorized into the following:</p>
                <!p>chart: {$ data.reports.detailed.bugInfo[null] $}</p>
            </div>
        </div> -->
        <div class="row no-border">
            <div class="nobreak">
                <h5>Testcase history</h5>
                <p>Percentage of passing, skipping, and failing testcases. This is a breakdown of tempest testcase results that ran during the test stage. Total number of unique testcases given on x-axis.</p>
                <nvd3 options="data.reports.detailed.historicalBarChart" data="data.reports.detailed.historicalTestcasesGraph"></nvd3>
            </div>
        </div>
        <div class="row no-border">
            <!--<ul class="key">
                <li><span class="new"></span> Changed this month</li>
                <li>T = Trusty</li>
                <li>X = Xenial</li>
            </ul> -->
            <div class="nobreak">
                <h5>Group summary</h5>
                <table class="tick-list">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th data-ng-repeat="ubuntuversioninfo in data.reports.detailed.groupTable | namedKey: 'openstackversionname' | orderBy: 'openstackversionname'" colspan="{$ ubuntuversioninfo | keylength $}">
                                {$ ubuntuversioninfo.openstackversionname $}
                            </th>
                        </tr>
                        <tr>
                            <td></td>
                            <td data-ng-repeat-start="ubuntuversioninfo in data.reports.detailed.groupTable | namedKey: 'openstackversionname' | orderBy: 'openstackversionname'" ng-if="0"></td>
                            <td data-ng-repeat="groupinfo in ubuntuversioninfo | namedKey: 'ubuntuversionname' | orderBy: 'ubuntuversionname'">
                                {$ groupinfo.ubuntuversionname $}
                            </td>
                            <td data-ng-repeat-end ng-if="0"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="group in data.reports.detailed.testcaseInfo | namedKey: 'name' | orderBy: 'name'" ng-if="group.name != 'null'">
                            <td>
                                {$ group.name $}
                            </td>
                            <td data-ng-repeat-start="ubuntuversioninfo in data.reports.detailed.groupTable | namedKey: 'openstackversionname' | orderBy: 'openstackversionname'" ng-if="0"></td>
                            <td data-ng-repeat-start="groupinfo in ubuntuversioninfo | namedKey: 'ubuntuversionname' | orderBy: 'ubuntuversionname'" ng-if="0"></td>
                            <td>
                                <img data-ng-if="groupinfo[group.name].numfailed > 0" src="/static/img/reports/cross.png" alt="" />
                                <p data-ng-if="groupinfo[group.name].numfailed == 0 && groupinfo[group.name].numsuccess == 0">
                                <font color="#000000">-</font>
                                </p>
                                <img data-ng-if="groupinfo[group.name].numfailed == 0 && groupinfo[group.name].numsuccess > 0" src="/static/img/reports/tick.png" alt="" />
                            </td>
                            <td data-ng-repeat-end ng-if="0"></td>
                            <td data-ng-repeat-end ng-if="0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div data-ng-repeat="group in data.reports.detailed.testcaseInfo | namedKey: 'name' | orderBy: 'name'" ng-if="group.name != 'null'">
            <h2>{$ group.name $}</h2>
            <div class="nobreak">
                <table class="tick-list">
                    <thead>
                        <tr>
                            <th>Group</th>
                            <th data-ng-repeat="ubuntuversioninfo in data.reports.detailed.subgroupTable[group.name] | namedKey: 'openstackversionname' | orderBy: 'openstackversionname'" colspan="{$ ubuntuversioninfo | keylength $}">
                                {$ ubuntuversioninfo.openstackversionname $}
                            </th>
                        </tr>
                        <tr>
                            <td></td>
                            <td data-ng-repeat-start="ubuntuversioninfo in data.reports.detailed.subgroupTable[group.name] | namedKey: 'openstackversionname' | orderBy: 'openstackversionname'" ng-if="0"></td>
                            <td data-ng-repeat="subgroupinfo in ubuntuversioninfo | namedKey: 'ubuntuversionname' | orderBy: 'ubuntuversionname'">
                                {$ subgroupinfo.ubuntuversionname $}
                            </td>
                            <td data-ng-repeat-end ng-if="0"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="subgroup in group | namedKey: 'name' | orderBy: 'name'">
                            <td>
                                {$ subgroup.name || group.name $}
                            </td>
                            <td data-ng-repeat-start="ubuntuversioninfo in data.reports.detailed.subgroupTable[group.name] | namedKey: 'openstackversionname' | orderBy: 'openstackversionname'" ng-if="0"></td>
                            <td data-ng-repeat-start="subgroupinfo in ubuntuversioninfo | namedKey: 'ubuntuversionname' | orderBy: 'ubuntuversionname'" ng-if="0"></td>
                            <td>
                                <img data-ng-if="subgroupinfo[subgroup.name].numfailed > 0" src="/static/img/reports/cross.png" alt="" />
                                <p data-ng-if="subgroupinfo[subgroup.name].numfailed == 0 && subgroupinfo[subgroup.name].numsuccess == 0">
                                <font color="#000000">-</font>
                                </p>
                                <img data-ng-if="subgroupinfo[subgroup.name].numfailed == 0 && subgroupinfo[subgroup.name].numsuccess > 0" src="/static/img/reports/tick.png" alt="" />
                            </td>
                            <td data-ng-repeat-end ng-if="0"></td>
                            <td data-ng-repeat-end ng-if="0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- chart(BugInfo): {$ data.reports.detailed.bugInfo[groupname] $} -->
            <div class="row no-border" data-ng-repeat="subgroup in group | namedKey: 'name' | orderBy: 'name'">
                <div class="group-header">
                    {$ group.name $} {$ subgroup.name $}
                </div>
                <div data-ng-repeat-start="testcaseclassgroup in subgroup | namedKey: 'name' | orderBy: 'name'" data-ng-if="0"></div>
                <div data-ng-repeat="testcase in testcaseclassgroup | namedKey: 'name' | orderBy: 'name'" data-ng-if="!(testcase.name == 'setUpClass' || testcase.name == 'tearDownClass') && testcase.numsuccess != testcase.numtestcases && testcase.numskipped != testcase.numtestcases" class="">
                    <div class="eight-col no-margin-bottom box shadow nobreak" style="width: 100%">
                        <div class="six-col no-margin-bottom fail overflow-wrap">
                            <p class="img-margin">{$ removeBrackets(testcase.name) $}</p>
                            <p>{$ testcase.testcaseclassname $}</p>
                            <p data-ng-if="testcase.bug">Reason: {$ testcase.bug $}</p>
                        </div>
                        <div class="two-col last-col no-margin-bottom">
                            <div class="one-col no-margin-bottom">
                                <p>Pass: {$ 100 * testcase.numsuccess/testcase.numtestcases | number: 0 $}%</p>
                                <p>Skip: {$ 100 * testcase.numskipped/testcase.numtestcases | number: 0 $}%</p>
                                <p>Fail: {$ 100 * testcase.numfailed/testcase.numtestcases | number: 0 $}%</p>
                            </div>
                            <div class="one-col last-col no-margin-bottom">
                                <nvd3 options="data.reports.detailed.testcasePieChart" data="data.reports.detailed.mungeTestcasePie(testcase)"></nvd3>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-repeat-end data-ng-if="0"></div>
                <div data-ng-repeat-start="testcaseclassgroup in subgroup | namedKey: 'name' | orderBy: 'name'" data-ng-if="0"></div>
                <div data-ng-repeat="testcase in testcaseclassgroup | namedKey: 'name' | orderBy: 'name'" data-ng-if="!(testcase.name == 'setUpClass' || testcase.name == 'tearDownClass') && testcase.numskipped == testcase.numtestcases">
                    <div class="eight-col no-margin-bottom box shadow nobreak" style="width: 100%">
                        <div class="seven-col no-margin-bottom skip overflow-wrap">
                            <p class="img-margin">{$ removeBrackets(testcase.name) $} - {$ testcase.testcaseclassname $}</p>
                        </div>
                        <div class="last-col no-margin-bottom">
                            <p>Skip: 100%</p>
                        </div>
                    </div>
                </div>
                <div data-ng-repeat-end data-ng-if="0"></div>
                <div data-ng-repeat-start="testcaseclassgroup in subgroup | namedKey: 'name' | orderBy: 'name'" data-ng-if="0"></div>
                <div data-ng-repeat="testcase in testcaseclassgroup | namedKey: 'name' | orderBy: 'name'" data-ng-if="!(testcase.name == 'setUpClass' || testcase.name == 'tearDownClass') && testcase.numsuccess == testcase.numtestcases">
                    <div class="eight-col no-margin-bottom box shadow nobreak" style="width: 100%">
                        <div class="seven-col no-margin-bottom pass overflow-wrap">
                            <p class="img-margin">{$ removeBrackets(testcase.name) $} - {$ testcase.testcaseclassname $}</p>
                        </div>
                        <div class="last-col no-margin-bottom">
                            <p>Pass: 100%</p>
                        </div>
                    </div>
                </div>
                <div data-ng-repeat-end data-ng-if="0"></div>
            </div>
        </div>
    </div>
    <div id="content" class="report" data-ng-if="data.reports.detailed.forceReportChoice">
        Please select a Report to Generate
    </div>
</div>
