<div class="row">
    <div class="four-col">
        <p>Test run ID: {$ data.testRunId $}</p>
        <p>Test run completed at: {$ data.humaniseDate(data.individual_testRun.completed_at != null ? data.individual_testRun.completed_at : "(Test run not yet complete)"); $}</p>
        <p data-ng-show="data.individual_testRun.buildexecutor.jenkins.environment.name != null">Environment: <a href="{$ data.individual_testRun.buildexecutor.jenkins.external_access_url $}">{$ data.individual_testRun.buildexecutor.jenkins.environment.name $}</a></p>
        <p>OpenStack Version: {$ (data.individual_testRun.versionconfiguration != null) ? data.individual_testRun.versionconfiguration.openstackversion.name : "Unknown"; $} </p>
        <p>Ubuntu Version: {$ (data.individual_testRun.versionconfiguration != null) ? data.individual_testRun.versionconfiguration.ubuntuversion.name : "Unknown"; $} </p>
        <p data-ng-show="data.individual_testRun.solution.solutiontag.name != null">Solution: {$ data.individual_testRun.solution.solutiontag.name $}</p>
        <p data-ng-show="data.individual_testRun.buildexecutor.jenkins.environment.data_archive_url != ''">
            <a href="{$ data.joinURLs(data.individual_testRun.buildexecutor.jenkins.environment.data_archive_url, data.testRunId) $}" class="external">
                Link to artifacts repository for this test run</a>
        </p>
    </div>

    <div id="content" class="five-col last-col">
        <a ng-href="{$ data.image $}">
            <img class="centered" data-ng-src="{$ data.image $}" id ="bundle_svg" />
        </a>
    </div>
</div>

<div class="row">
    <div id="content" class="nine-col last-col">
        <div data-ng-show="data.pipeline_machines.meta.total_count">
    </div>

    <div id="content" class="nine-col last-col">
        {$ data.pipeline_machines.meta.total_count $} <ng-pluralize count="data.pipeline_machines.meta.total_count" when="{'0': 'machines', '1': 'machine', 'other': 'machines'}"></ng-pluralize> <ng-pluralize count="data.pipeline_machines.meta.total_count" when="{'0': 'were', '1': 'was', 'other': 'were'}"></ng-pluralize> used in this OpenStack deployment
        <span data-ng-if="data.pipeline_machines.meta.total_count > 0 ">
            : <span data-ng-repeat="machine in data.pipeline_machines.objects">{$ $first ? '' : $last ? ' and ' : ', ' $}{$ machine.hostname $}</span>
        </span>
    </div>

    <div id="content" class="nine-col last-col">
        <table class="table-listing">
            <thead>
                <tr class="table-listing__row">
                    <th class="table-listing__header">
                        Component Type
                    </th>
                    <th class="table-listing__header">
                        Name
                    </th>
                    <!--
                    <th class="table-listing__header">
                        Deploy Time
                    </th>
                -->
                </tr>
            </thead>
            <tbody>
                <tr class="table-listing__row" data-ng-repeat="product in data.producttypes" data-ng-show="product.name != ''">
                    <td class="table-listing__cell">{$ product.type $}</td>
                    <td class="table-listing__cell"><span data-ng-repeat="name in product.name">{$ $first ? '' : $last ? ' and ' : ', ' $}{$ name $}</span></td>
                    <!-- <td class="table-listing__cell">{$ product.deploy_time $}</td> -->
                </tr>
            </tbody>
        </table>

    </div>

    <div id="content" class="nine-col last-col">
        {$ data.bugs_affecting_pipeline.meta.total_count $} <ng-pluralize count="data.bugs_affecting_pipeline.meta.total_count" when="{'0': 'bugs', '1': 'bug', 'other': 'bugs'}"></ng-pluralize> found to be affecting this test run.
        <span data-ng-if="data.bugs_affecting_pipeline.meta.total_count > 0 ">
            <table class="table-listing">
                <thead>
                    <tr class="table-listing__row">
                        <th class="table-listing__header">
                            <a href="" class="table-listing__header-link sort-asc" data-ng-click="data.sortTable('bugtrackerbug.bug_number', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'bugtrackerbug.bug_number', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Number</a>
                        </th>
                        <th class="table-listing__header">Affected Products</th>
                        <th class="table-listing__header">
                            <a href="" class="table-listing__header-link sort-asc" data-ng-click="data.sortTable('summary', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'summary', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Summary</a>
                        </th>
                        <th class="table-listing__header">
                            <a href="" class="table-listing__header-link sort sort-asc" data-ng-click="data.sortTable('occurrence_count', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'occurrence_count', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Occurrences</a>
                        </th>
                        <th class="table-listing__header">
                            <a href="" class="table-listing__header-link sort-asc" data-ng-click="data.sortTable('last_seen', 'bugs')" data-ng-class="{sort: data.tabs.bugs.predicate === 'last_seen', 'sort-asc': data.tabs.bugs.reverse === false, 'sort-desc': data.tabs.nodes.reverse === true}">Last Seen (UTC)</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-listing__row" data-ng-repeat="bug_fx_pl in data.bugs_affecting_pipeline.objects | orderBy:data.tabs.bugs.predicate:data.tabs.bugs.reverse">
                        <td class="table-listing__cell">
                            <a href="#/results/bug/{$ bug_fx_pl.bugtrackerbug.bug_number $}" title="{$ bug_fx_pl.bugtrackerbug.bug_number $}">
                                {$ bug_fx_pl.bugtrackerbug.bug_number $}
                            </a>
                        </td>
                        <td class="table-listing__cell">
                            <span data-ng-repeat="product in bug_fx_pl.bugtrackerbug.project.associated_products">{$ $first ? '' : $last ? ' and ' : ', ' $}{$ product $}</span>
                        </td>
                        <td class="table-listing__cell">
                            {$ bug_fx_pl.summary $}
                        </td>
                        <td class="table-listing__cell">{$ bug_fx_pl.occurrence_count $}</td>
                        <td class="table-listing__cell">{$ data.humaniseDate(bug_fx_pl.last_seen) $}</td>
                    </tr>
                </tbody>
            </table>
        </span>
    </div>

    <div id="content" class="nine-col last-col">
        {$ data.pipeline_builds.meta.total_count $} <ng-pluralize count="data.pipeline_builds.meta.total_count" when="{'0': 'jobs', '1': 'job', 'other': 'jobs'}"></ng-pluralize> run during this test.
        <span data-ng-if="data.pipeline_builds.meta.total_count > 0 ">
            <table class="table-listing">
                <thead>
                    <tr class="table-listing__row">
                        <th class="table-listing__header">
                            Job Type
                        </th>
                        <th class="table-listing__header">
                            Build Number
                        </th>
                        <th class="table-listing__header">
                            Job Status
                        </th>
                        <th class="table-listing__header">
                            Tests Passed
                        </th>
                        <th class="table-listing__header">
                            Tests Failed
                        </th>
                        <th class="table-listing__header">
                            Tests Skipped
                        </th>
                        <th class="table-listing__header">
                            Tests In Error
                        </th>
                        <th class="table-listing__header">
                            Tests Aborted
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-listing__row" data-ng-repeat="job in data.orderedJobsList" data-ng-show="data.job_build_outcome[job].jobtype_description != null" >
                        <td class="table-listing__cell">
                            {$ data.job_build_outcome[job].jobtype_description; $}
                        </td>
                        <td class="table-listing__cell">
                            <span data-ng-if="data.job_build_outcome[job].jenkinsBuildUrl">
                                <a href="{$ data.job_build_outcome[job].jenkinsBuildUrl; $}" class="external">{$ data.job_build_outcome[job].build_number; $}</a>
                            </span>
                            <span data-ng-if="!data.job_build_outcome[job].jenkinsBuildUrl">{$ data.job_build_outcome[job].build_number; $}</span>
                        </td>
                        <td class="table-listing__cell">
                            <font color="{$ data.colourStatus(data.job_build_outcome[job].jobstatus); $}">{$ data.job_build_outcome[job].jobstatus; $}</font>
                        </td>
                        <td class="table-listing__cell">
                            {$ data.test_results[job].pass_count; $}
                        </td>
                        <td class="table-listing__cell">
                            {$ data.test_results[job].fail_count; $}
                        </td>
                        <td class="table-listing__cell">
                            {$ data.test_results[job].skip_count; $}
                        </td>
                        <td class="table-listing__cell">
                            {$ data.test_results[job].err_count; $}
                        </td>
                        <td class="table-listing__cell">
                            {$ data.test_results[job].abort_count; $}
                        </td>
                    </tr>
                </tbody>
            </table>
        </span>

    </div>

    <div id="content" class="nine-col last-col">
        <div data-ng-repeat="(jobname, job) in data.test_results" >
            <div data-ng-show="job.fail_count > 0">
                <h3>Details of the {$ job.fail_count $} "{$ data.jobDictionary[jobname].description $}" tests that failed</h3>
                <table class="table-listing">
                    <thead>
                        <tr class="table-listing__row">
                            <th class="table-listing__header">Test Case Class</th>
                            <th class="table-listing__header">Test Case</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-listing__row" data-ng-repeat="(idx, test) in job['failed_tests'] track by $index">
                            <td class="table-listing__cell">{$ test[0]; $}</td>
                            <td class="table-listing__cell">{$ test[1]; $}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div data-ng-show="job.err_count > 0">
                <h3>Details of the {$ job.err_count $} "{$ data.jobDictionary[jobname].description $}" tests in error</h3>
                <table class="table-listing">
                    <thead>
                        <tr class="table-listing__row">
                            <th class="table-listing__header">Test Case Class</th>
                            <th class="table-listing__header">Test Case</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-listing__row" data-ng-repeat="(idx, test) in job['erred_tests'] track by $index" >
                            <td class="table-listing__cell">{$ test[0]; $}</td>
                            <td class="table-listing__cell">{$ test[1]; $}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
