Source: weebl
Section: python
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Darren Hoyland <darren.hoyland@canonical.com>
Build-Depends: debhelper (>= 9.0.0),
 python3-all,
 python3-setuptools,
 python3-six,
 python3-testtools,
 python3-nose,
Standards-Version: 3.9.5
XS-Python3-Version: >= 3.2

Package: python3-weebl
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
 gunicorn3,
 libjs-angularjs,
 libjs-yui,
 libjs-yui3-min,
 npm,
 pandoc,
 psutils,
 python3-arrow,
 python3-bs4,
 python3-dateutil,
 python3-django,
 python3-django-tastypie (>= 0.13.3-1ubuntu1),
 python3-django-extensions,
 python3-flake8,
 python3-freezegun,
 python3-invoke,
 python3-mimeparse,
 python3-pip,
 python3-postgresql,
 python3-psutil,
 python3-psycopg2,
 python3-pydot,
 python3-pyparsing,
 python3-pytest,
 python3-requests,
 python3-requests-oauthlib,
 python3-social-auth,
 python3-tz,
 python3-yaml
Provides: ${python3:Provides}
XB-Python-Version: ${python3:Versions}
Description: OIL dashboard (weebl) (Python 3).
 Contains the python 3 django application code for weebl.
 .
 This package installs weebl for python 3.
