#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME = weebl
VERS=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	echo "The tests really should be fixed!"

override_dh_install:
	echo

get-orig-source:
	git archive --format tar.gz HEAD -o ../weebl_${VERS}.orig.tar.gz
	dh_auto_clean
