.maas-accordion {
    margin-bottom: 120px;
}

.table-listing {
    margin-bottom: 120px;
}

a.external {
    background: url(/static/img/external-link-orange.svg) center right no-repeat;
    background-size: 0.7em 0.7em;
    padding-right: 13px;
    background-position: 100% top;
}

.page-header .page-header__title {
    font-size:2em;
    width:auto;
    padding:10px 0;
    margin:0;
    float:left;
}

.page-header .page-header__actions {
    padding:12px 0;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion .accordion__tab .accordion__tab-title.active+.accordion__tab-content {
    max-height: 500px;
    overflow-y: auto;
    transition: max-height 0.5s ease-in
}

form input.linkcamo {
    background:none!important;
    border:none;
    padding:0!important;
    color:#dd4814;
}

form input.linkcamo:hover {
    text-decoration:underline;
}
